
*.tlog
*.pdb
*.idb
*.obj
*.db
*.opendb
vs/x64/Debug/sprpck.exe
vs/x64/Debug/sprpck.ilk
vs/x64/Debug/sprpck.log
bin_win32/sprpck.iobj
bin_win32/sprpck.ipdb
vs/x64/Debug/sprpck.Build.CppClean.log
vs/x64/Release/sprpck.log
vs/Debug/sprpck.Build.CppClean.log
vs/Debug/sprpck.log
vs/Release/sprpck.log
bin_win32/sprpck.ilk
vs/.vs/sprpck/v14/.suo
vs/Debug/sprpck.exe
vs/Debug/sprpck.ilk
vs/Release/sprpck.exe
vs/Release/sprpck.iobj
vs/Release/sprpck.ipdb
vs/sprpck.vcxproj
vs/x64/Release/sprpck.exe
vs/x64/Release/sprpck.iobj
vs/x64/Release/sprpck.ipdb
vs/.vs/sprpck/v14/.suo
vs/x64/Release/sprpck.Build.CppClean.log
vs/Release/sprpck.Build.CppClean.log

.vscode
.DS_Store
*.o
Src/sprpck