
*.tlog
*.pdb
*.idb
*.obj
*.db
*.opendb
vs/x64/Debug/sprpck.exe
vs/x64/Debug/sprpck.ilk
vs/x64/Debug/sprpck.log
bin_win32/sprpck.iobj
bin_win32/sprpck.ipdb
vs/x64/Debug/sprpck.Build.CppClean.log
vs/x64/Release/sprpck.log
vs/Debug/sprpck.Build.CppClean.log
vs/Debug/sprpck.log
vs/Release/sprpck.log
bin_win32/sprpck.ilk
